<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangpengfei2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wangpengfei2.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.wangpengfei2.BaseActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name="com.example.wangpengfei2.MainActivity"></activity>
  
        <activity android:name="com.example.wangpengfei2.GuideActivity"></activity>
        <activity android:name="com.example.wangpengfei2.activity.AboutActivity"></activity>
        <activity android:name="com.example.wangpengfei2.activity.HelpActivity"></activity>
        <activity android:name="com.example.wangpengfei2.activity.PersonCentrActivity"></activity>
        <activity android:name="com.example.wangpengfei2.activity.PersonCollectionActivity"></activity>
        <activity android:name="com.example.wangpengfei2.activity.PersonFileActivity"></activity>
        <activity android:name="com.example.wangpengfei2.activity.SetIpActivity"></activity>
        <activity android:name="com.example.wangpengfei2.CarAccountActivity1"></activity>
                <activity android:name="com.example.wangpengfei2.CarAccountActivity"></activity>
        
        <activity android:name="com.example.wangpengfei2.CarActionActivity"></activity>
        <activity android:name="com.example.wangpengfei2.CarSpeedActivity"></activity>
        
        </application>

</manifest>
